@import "./vendor/normalize.scss";
@import "./partial/colors";
@import "./partial/mixins";
@import "./partial/typography";

.navigation{
    background-color: rgb(0, 0, 0);
    padding: 15px;
    nav {
        display: inline;
        padding: 10px;
        a {
            color: white;
        }
    }
    div {
        color: white;
        display: inline;
    }

}

.container{
    h2 {
        color: $secondary-color;
        font: $heading-font;     
    }

}

@media (min-width: 768px) {
    .navigation {
        background-color: rgb(11, 18, 49);
    }
}

@media (min-width: 1024px) {
    .navigation {
        background-color: black;
    }
}